{% extends 'base.html.twig' %}
{% block body %}
    <h1>Quel est votre niveau en Algo ?</h1>

    <a href="/test-algo/easy">
        <button class="btn btn-default">Facile</button>
    </a>

    <a href="/test-algo/normal">
        <button class="btn btn-default">Normal</button>
    </a>
{% endblock %}