body {
    background: url(/assets/background-qcm.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    user-select: none;
}

.logo-qcm {
    width: 15vw;
}

.logo-qcm-small {
    margin-top: -30vw;
    width: 10vw;
}

.intitule {
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 2em;
}

input[type='radio'] {
    transform: scale(2);
    margin-right:20px;
    margin-top: -1px;
    vertical-align: middle;
}

.radio {
    margin-bottom: 30px;
}

div .next {
    text-align: center;
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 35px;
    font-size: 2em;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

div .next:hover {
    background-color: white;
    color: #445057;
    cursor: pointer;
}

div .right {
    float: right;
    margin-right: 150px;
    /*margin-top: 10%;*/
    /*margin-bottom: -10%;*/
}

.intro p {
    font-size: 1.3em;
    margin-bottom: 75px;
}

.center {
    display: block;
    margin: auto;
}

button {
    background-color: #fb8234;
    padding: 15px 33px;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #d35400;
}

button:active {
    border-bottom: 2px solid #d35400;
}

/* Popup */

#popup-overlay {
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    display: none;
    z-index: 1;
    top: 0;
}

#popup {
    background-color: #fff;
    width: 525px;
    height: 500px;
    margin: -6% auto;
    position: relative;
    display: none;
    z-index: 2;
}

#popup .headline {
    text-align: center;
    height: 80px;
    background-color: #fb8234;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
}

.logo-qcm-popin {
    width: 25%;
    position: relative;
}

#popup .headline > .close {
    float: right;
    padding: 15px 20px;
    margin: -15px -15px;
}

#popup .headline > .close:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#popup .content-success {
    display: none;
    color: black;
    padding: 15px;
    height: 525px;
    overflow-y: auto;
    font: normal 20px Arial;
}

#popup .content-fail {
    display: none;
    color: black;
    padding: 15px;
    height: 525px;
    overflow-y: auto;
    font: normal 24px Arial;
}

#popup .content-rdv-success {
    display: none;
    color: black;
    padding: 15px;
    height: 525px;
    overflow-y: auto;
    font: normal 24px Arial;
}

#popup .content-timeout {
    text-align: center;
    display: none;
    color: black;
    padding: 15px;
    height: 525px;
    overflow-y: auto;
    font: normal 24px Arial;
}

#popup .date {
    text-align: left;
    margin-left: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Success Message */
.success-message {
    text-align: center;
    top: 50%;
    left: 50%;
}

.success-message__icon {
    max-width: 75px;
}

.success-message__title {
    color: #3DC480;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
}
.active .success-message__title {
    transform: translateY(0);
    opacity: 1;
}

.success-message__content {
    color: #B8BABB;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
    transition-delay: 50ms;
}
.active .success-message__content {
    transform: translateY(0);
    opacity: 1;
}

.icon-checkmark circle {
    fill: #3DC480;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}
.icon-checkmark path {
    transition: stroke-dashoffset 350ms ease;
    transition-delay: 100ms;
}
.active .icon-checkmark circle {
    transform: scale(1);
}

.slide {
    text-align: center;
    width: 100vw;
}

.slide h1 {
    padding: 50px;
}

.slide .answers {
    font-size: 1.8em;
}

.navbar{
    display: none;
}

#start:hover{
    cursor: pointer;
}

#slideshow{
    width: 100%;
    overflow: hidden;
}

#slideshow .slide {
    display: inline-block;
}

#quests {
    width: calc(100vw * 5);
}

.alert {
    display: none;
}

#timer {
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    color: rgb(92, 92, 91);
}
