.slide {
    text-align: center;
}

.slide h1 {
    padding: 50px;
}

.alert {
    display: none;
}

button {
    background-color: #d35400;
    padding: 15px 33px;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #e67e22;
}

button:active {
    border-bottom: 2px solid #d35400;
}

/* Popup */

#popup-overlay {
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    display: none;
    z-index: 1;
    top: 0;
}

#popup {
    background-color: #fff;
    width: 500px; height: 420px;
    margin: -6% auto;
    position: relative;
    display: none;
    z-index: 2;
}

#popup .headline {
    background-color: #d35400;
    padding: 15px;
    color: #fff;
    font-weight: bold;
}

#popup .headline > .close {
    float: right;
    padding: 15px 20px;
    margin: -15px -15px;
}

#popup .headline > .close:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#popup .content {
    padding: 15px;
    height: 343px;
    overflow-y: auto;
    font: normal 13px Arial;
}

/* Success Message */
.success-message {
    text-align: center;
    top: 50%;
    left: 50%;
}

.success-message__icon {
    max-width: 75px;
}

.success-message__title {
    color: #3DC480;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
}
.active .success-message__title {
    transform: translateY(0);
    opacity: 1;
}

.success-message__content {
    color: #B8BABB;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
    transition-delay: 50ms;
}
.active .success-message__content {
    transform: translateY(0);
    opacity: 1;
}

.icon-checkmark circle {
    fill: #3DC480;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}
.icon-checkmark path {
    transition: stroke-dashoffset 350ms ease;
    transition-delay: 100ms;
}
.active .icon-checkmark circle {
    transform: scale(1);
}

/* Timer */
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

